{% extends 'base.html' %}
{% block style %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
{% endblock %}
{% block content %}
<h1>LIST FILE</h1>
<table>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    {% for file in ListFiles %}
    <tr>
        <td>{{file.name}}</td>
        <td><a href="/GetText?name={{file.name}}">Get Text</td>
      </tr>
      {% endfor %}
{% endblock %}